<app-header></app-header>
<div class="container shadow">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../assets/images/log1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            “Programs must be written for people to read, and only incidentally
            for machines to execute.”
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/images/log1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            “Programs must be written for people to read, and only incidentally
            for machines to execute.”
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/images/log1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            “Programs must be written for people to read, and only incidentally
            for machines to execute.”
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/images/log1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            “Programs must be written for people to read, and only incidentally
            for machines to execute.”
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
